#controls {
    position: absolute;
    background-color: aqua;
    left: 1180px;
    height: 200px;
    width: 200px;
}

#display {
    width: 500px;
    height: 300px;
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    margin: auto;
    background-color: green;
    
}